@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.headingXLarge {
    font-family: 'poppins', system-ui, sans-serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.headingLarge {
    font-family: 'poppins', system-ui, sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.headingMedium {
    font-family: 'poppins', system-ui, sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.headingSmall {
    font-family: 'poppins', system-ui, sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.headingXSmall {
    font-family: 'poppins', system-ui, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.textXLarge {
    font-family: 'lato', system-ui, sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
}

.textLarge {
    font-family: 'lato', system-ui, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
}

.textMedium {
    font-family: 'lato', system-ui, sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
}

.textSmall {
    font-family: 'lato', system-ui, sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
}

.textXSmall {
    font-family: 'lato', system-ui, sans-serif;
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 200;
    line-height: 1rem;
}