---
import Logotipo from "../Logotipo.astro";
import ArrowUp from "../icons/ArrowUp.astro";
let year = new Date().getFullYear().toString();
---

<footer>
    <div class="footer-wrapper container">
        <div class="upper-footer textLarge">
            <div class="footer-column">
                <h2 class="headingSmall footer-subtitle">Acerca de</h2>
                <nav class="navbar">
                    <a href="">Nosotros</a>
                    <a href="">Misión y Visión</a>
                    <a href="">Preguntas Frecuentes</a>
                    <a href="">Enviar Feedback</a>
                </nav>
            </div>
            <div class="footer-column">
                <h2 class="headingSmall footer-subtitle">Recursos</h2>
                <nav class="navbar">
                    <a href="">Reportes</a>
                    <a href="">Condiciones de uso</a>
                    <a href="">Política de Privacidad</a>
                    <a href="">Contribuye con nosotros</a>
                </nav>
            </div>
            <div class="footer-column">
                <h2 class="headingSmall footer-subtitle">Conecta con nosotros</h2>
                <nav class="navbar">
                    <a href="">twitter.com/infocuy</a>
                    <a href="">instagram.com/infocuy.pty</a>
                    <a href="">youtube.com/@infocuy</a>
                </nav>
            </div>
            <button class="scrollTop" id="scrollButton">
                <ArrowUp/>
            </button>
        </div>
        <hr class="divider-line">
        <div class="down-footer">
            <Logotipo mode="dark"/>
            <p class="textLarge">© Copyright. Todos los derechos reservados InfoCuy {year}.</p>
        </div>
    </div>
</footer>

<script>
const scrollButton = document.getElementById('scrollButton');
if (scrollButton) {
    scrollButton.addEventListener('click', () => {
        window.scrollTo({ top: 0, behavior: 'smooth' });
    });
}
</script>

<style>
    footer {
        background: var(--green-gradient);
        color: var(--white);
        padding: 2.5rem 4rem;
    }

    .upper-footer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
        justify-items: center;
    }

    .down-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2rem;
    }

    .divider-line {
        color: var(--dark-gray);
        stroke-width: 0.5px;
        margin: 2rem 0;
    }

    .footer-column {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
    }

    .navbar a {
        color: var(--white);
    }

    .navbar a:hover {
        color: #a6e9d9;
        opacity: 0.8;
        transition: .3s;
    }

    .navbar a:active {
        opacity: 0.5;
    }

    .scrollTop {
        align-self: center;
    }

    .down-footer p {
        color: var(--gray);
    }

    @media (max-width: 768px) {
        footer {
            padding: 2.5rem 2rem;
        }

        .upper-footer {
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
        }

        .footer-subtitle {
            align-self: self-start;
        }

        .footer-column {
            align-items: center;
        }

        .navbar {
            gap: 0.5rem;
        }
    }
</style>