---
import Logotipo from '../Logotipo.astro'
---

<header>
    <a href="/">
        <Logotipo mode='dark' />
    </a>
    <nav class="navbar textXLarge">
        <a href="/noticias">Noticias</a>
        <a href="/eventos">Eventos</a>
        <a href="/turismo">Turismo</a>
        <a href="/servicios">Servicios</a>
    </nav>
</header>

<style>
    header {
        display: flex;
        position: sticky;
        z-index: 30;
        top: 0;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 3rem;
        background-color: var(--green);
        border-bottom: 1px solid #1d685f;
    }

    .navbar {
        display: flex;
        gap: 2rem;
    }

    .navbar a {
        color: var(--white);
    }

    .navbar a:hover {
        opacity: 0.8;
        color: #a6e9d9;
        transition: .3s;
    }

    .navbar a:active {
        opacity: 0.5;
    }

    @media screen and (max-width: 768px){
        .navbar {
            font-size: 1rem;
        }
    }
</style>