---
import '@/styles/globals.css'
import Layout from '@/layouts/Layout.astro';
import Card from '@/components/Card.astro';
---

<Layout title="Home | InfoCuy">
	<main>
		<section class="hero">
			<h1 class="welcome-message headingXLarge">Conoce todo sobre Chiriquí!</h1>
		</section>
		<section class="inicio">
			<li class="card-list">
				<Card
					title="Vacantes de Trabajo"
					body="Aplica a varios puestos de trabajo alrededor de la Provincia de Chiriquí."
					href="/vacantes-trabajo"
				/>
				<Card
					title="Servicios"
					body="Servicios online y locales en todo Panamá."
					href="/servicios"
				/>
				<Card
					title="Directorio Provincial"
					body="Contactos de las instituciones públicas, privadas y municipios."
					href="/directorio-provincial"
				/>
				<Card
					title="Turismo"
					body="Descubre los lugares turísticos de Chiriquí"
					href="/turismo"
				/>
			</li>
			<div class="noticias-en-tendencia">
				<h1 class="headingLarge noticias-subtitle">Noticias en tendencia</h1>
				<div class="blocc"></div>
			</div>
		</section>
	</main>
</Layout>

<style>
	.hero {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
		background-image: url('/home/Hero-Chiriqui.webp');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		min-height: 50vh;
	}

	.welcome-message {
		color: var(--white);
		text-align: center;
	}

	.inicio {
		display: grid;
		grid-template-columns: 1fr 2fr;
		gap: 2rem;
		padding: 2rem;
	}

	.card-list {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	.noticias-en-tendencia {
		display: grid;
		grid-template-rows: 4rem auto;
		gap: 2rem;
	}

	.blocc {
		background-color: var(--gray);
		height: 100%;
		width: 100%;
	}
</style>
